.hero-container {
    // background-image: url('images/lakeHero.png');
    // background-position: 50% 50%;
    // // background-position: 50% 100%;
    // background-repeat: no-repeat;
    // background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    position: relative;
    //     &:before {
    //     background-image: linear-gradient(-180deg, rgba(206,236,245,0.97) 0%,rgba(206,236,245,0.17) 20%,  #FFFFFF 100%);
    //     content: '';
    //     display: block;
    //     position: relative;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: -1;
        
    //     } 
        // &:after {
        // background-image: url('images/parallax1.png');
        // display: block;
        // content:'';
        // background-repeat: no-repeat;
        // background-size: contain;
        // z-index: 10000;
        // position: relative;
        // }
        .videoTag {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        min-width: 100%;
        position: relative;
        height: 100%;
        object-fit: cover;
        // outline: 5px solid black;
        @media only screen and (max-width:768px) {
            object-fit: cover;
            max-width: 100%;
            }  
        }
        &:after {
            content:'';
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.4);
            position: absolute;
            display: block;
        }
    
    .homeTitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        @media only screen and (max-width:414px){
            // margin:0 20px;
            width: auto;
        }
        h1 {
            color: white;
            font-family: $fontOne;
            text-transform: uppercase;
            font-size:3em;
            width: 47%;
            margin: 0;
            // text-shadow: 2px 1px 5px rgba(0,0,0,.75);
            padding-left: 50vw;
            line-height: 1.25;
        @media only screen and (max-width:414px){
            font-size: 2.5em;
            padding-left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 40px;
            margin-left: 30px;
        }

        }
        p {
            font-family: $fontTwo;
            color: white;
            font-style: italic;
            margin: 0;
            letter-spacing: 6px;
            font-size: 1em;
            padding-left: 8px;
            // text-shadow: 2px 1px 5px rgba(0,0,0,.75);
    
            padding-left: 50vw;
            @media only screen and (max-width:414px){
                padding-left: 0;
                text-align: left;
                padding-right:30%;
                margin-left: 30px;
            }
            
        }

    }
    .link {
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-size: 18px;
        background-color: $burg;
        padding: 10px 60px;
        margin-left: 50vw;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease-in-out;
        z-index: 1000;
        &:hover {
            background-color: black;
        }
        @media only screen and (max-width:414px){
            margin-left: 30px;
        }
    }
}
